<!--+ <h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> Android Privacy Add-ons</h1> +-->
<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> Android Privacy Add-ons</h1>

<div class="alert alert-success" role="alert">
<!--+   <strong>Improve your privacy with these add-ons for Android.</strong> +-->
  <strong>Buradaki Android eklentileriyle gizliliğini arttırabilirsin.</strong>
</div>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="assets/img/addons/netguard.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
<!--+     <h3>Control your traffic with <a href="https://www.netguard.me/">NetGuard</a></h3> +-->
    <h3><a href="https://www.netguard.me/">NetGuard</a> ile veri trafiğini kontrol et.</h3>
<!--+     <p><strong>NetGuard</strong> provides simple and advanced ways to block certain apps' access to the internet without the help of root privileges. Applications and addresses can individually be allowed or denied access to your Wi-Fi and/or mobile connection, allowing you to control which apps are able to call home or not. +-->
    <p><strong>NetGuard</strong> basit ve gelişmiş yöntemler sağlayarak belirli uygulamaların internete Root Ayrıcalıkları olmadan bağlanmasını engeller. Uygulamaların ve ağ adreslerinin, kablosuz internete ve/veya mobil ağa erişimi birer birer izin verilebilir veya engellenebilir. Hangi uygulamaların sistemine erişip erişemeyeceğini kontrol edebilmeni sağlar.
    </div>
  </div>
</div>

<div class="alert alert-warning" role="alert">
<!--+   <strong>The following add-ons require root access, which makes your device more vulnerable. Proceed with caution.</strong> +-->
  <strong>Aşağıdaki eklentiler Root Ayrıcalıkları gerektirmektedir, ki cihazınızı daha savunmasız hale getirecektir. Devam edecekseniz dikkatli olun.</strong>
</div>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
<!--+       <img src="assets/img/addons/xprivacylua.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="XPrivacyLua"> +-->
      <img src="assets/img/addons/xprivacylua.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="XPrivacyLua">
    </div>
    <div class="col">
<!--+       <h3>Manage your apps' permissions with <a href="https://lua.xprivacy.eu/">XPrivacyLua</a></h3> +-->
      <h3>Uygulama İzinleri'ni <a href="https://lua.xprivacy.eu/">XPrivacyLua</a> ile yönet.</h3>
<!--+       <p>Revoking Android permissions from apps often let apps crash or malfunction. <strong>XPrivacyLua</strong> solves this by feeding apps fake data instead of real data.</p> +-->
      <p>Uygulamalara verilen izinlerin geri almak genellikle uygulamanın hata vermesine veya düzgün çalışmamasına neden olur. <strong>XPrivacyLua</strong> bunu uygulamalara gerçek veriler yerine sahta veriler sağlayarak çözer.</p>
<!--+       <p>Requirements: <a href="https://forum.xda-developers.com/apps/magisk/official-magisk-v7-universal-systemless-t3473445">Magisk (xda-developers)</a>, <a href="https://forum.xda-developers.com/xposed">Xposed Framework (xda-developers)</a></p> +-->
      <p>Gereklilikler: <a href="https://forum.xda-developers.com/apps/magisk/official-magisk-v7-universal-systemless-t3473445">Magisk (xda-developers)</a>, <a href="https://forum.xda-developers.com/xposed">Xposed Framework (xda-developers)</a></p>
    </div>
  </div>
</div>
