<!--+ <h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> Browser Recommendation</h1> +-->
<h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> Önerilen Tarayıcılar</h1>

<div class="row mb-2">

<!--+  {% include card.html color="success"
  title="Tor Browser"
  image="assets/img/tools/Tor-Project.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='OS: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description="Tor Browser is your choice if you need an extra layer of anonymity. It's a modified version of Firefox, it comes with pre-installed privacy add-ons, encryption and an advanced proxy."
  %} +-->
  
  {% include card.html color="success"
  title="Tor Browser"
  image="assets/img/tools/Tor-Project.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='İşletim Sistemi: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description="Eğer fazladan anonimlik istiyorsanız Tor Browser seçeneğinizdir. Firefox'un değiştirilmiş versiyonudur, gizlilik için eklentiler,şifreleyiciler ve gelişmiş proxy önceden kurulmuş olarak gelir."
  %}
  
<!--+  {% include card.html color="primary"
  title="Mozilla Firefox"
  image="assets/img/tools/Firefox.png"
  url="https://www.firefox.com/"
  footer="OS: Windows, macOS, Linux, Android, iOS, BSD."
  description='Firefox is fast, reliable, open source and respects your privacy. Don\'t forget to adjust the settings according to our
  recommendations: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> and <a href="#about_config"><i class="fas fa-link"></i> about:config</a> and get the <a href="#addons"><i class="fas fa-link"></i> privacy add-ons</a>.'
  %} +-->
  
  {% include card.html color="primary"
  title="Mozilla Firefox"
  image="assets/img/tools/Firefox.png"
  url="https://www.firefox.com/"
  footer="İşletim Sistemi: Windows, macOS, Linux, Android, iOS, BSD."
  description='Firefox hızlı, güvenilir, açık kaynak kodlu ve gizliliğinize saygı duyan bir tarayıcıdır. Ayarlarınızı önerilerimize göre değiştirmeyi unutmayın: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> ve <a href="#about_config"><i class="fas fa-link"></i> about:config</a> ayarlarını yapın; ayrıca <a href="#addons"><i class="fas fa-link"></i> Gizlilik Eklentileri</a>ni yükleyin.'
  %}

<!--+  {% include card.html color="warning"
  title="Brave"
  labels="warning:experimental:Brave is a good choice if you want to use a Chromium-based browser. But at this point in Brave's development&comma; it's not as good as Firefox with privacy addons."
  image="assets/img/tools/Brave.png"
  url="https://www.brave.com/"
  footer="OS: Windows, macOS, Linux, Android, iOS."
  description="The new open source browser \"Brave\" automatically blocks ads and trackers, making it faster and safer than your current browser. Brave is based on Chromium."
  %} +-->
  
  {% include card.html color="warning"
  title="Brave"
  labels="warning:Deney aşamasında:Chromium tabanlı bir tarayıcı kullanmak istiyorsanız Brave iyi bir seçenektir. Fakat şu anda Brave'in gelişmesi&comma; gizlilik eklentileriyle beraber kullanılan Firefox kadar iyi değil."
  image="assets/img/tools/Brave.png"
  url="https://www.brave.com/"
  footer="İşletim Sistemi: Windows, macOS, Linux, Android, iOS."
  description="Yeni açık kaynak kodlu tarayıcı olan \"Brave\" reklamları ve izleyicileri otomatik olarak engelleyerek, şimdiki tarayıcınıza göre daha güvenli ve hızlı çalışır. Brave, Chromium tabanlı bir tarayıcıdır."
  %}
  
	<div class="container">
	  <h2>Simple Collapsible</h2>
	  <p>Click on the button to toggle between showing and hiding content.</p>
	  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
	  <div id="demo" class="collapse in">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	  </div>
	</div>

</div>

<!-- <html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="_sass//bootstrap.scss">
  <script src="assets/js/jquery-3.3.1.min.js?v=4"></script>
  <script src="assets/js/popper.min.js?v=4"></script>
</head>
<body>
 -->
 
